.slidercontainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}

.slider {
    appearance: none;
    width: 100%;
    margin: 0;
    height: 3px;
    border-radius: 1.5px;
    outline: none;
    opacity: 1.0;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-moz-focus-outer {
    border: 0;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 50%;
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 50%;
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
