{
    "branches": [
        "main"
    ],
    "repositoryUrl": "https://github.com/Tuhis/police-appointment-times.git",
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "conventionalcommits"
            }
        ],
        "@semantic-release/release-notes-generator",
        "@semantic-release/github",
        [
            "@semantic-release-plus/docker",
            {
                "name": {
                    "registry": "ghcr.io",
                    "namespace": "ghcr.io/ghcr.io/tuhis/police-appointment-times",
                    "repository": "police-appointment-times",
                    "tag": "latest"
                },
                "registry": "ghcr.io"
            }
        ]
    ]
}
